In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.preprocessing import MinMaxScaler
warnings.filterwarnings("ignore")

In [2]:
#Reading the resampled CSVs
multi=pd.read_csv('Multi_Category_Store_1.csv')
electronics=pd.read_csv('Electronics1.csv')
electronics1=pd.read_csv('Electronics2.csv')

In [3]:
dfs=[multi,electronics,electronics1]         #Loading the CSVs into a list
dfs_name=['multi', 'electronics', 'electronics1']  #Storing the names of the CSVs in a list

In [4]:
multi.head(5)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-29 14:10:28 UTC,view,17100068,2053013558349791811,NaN,sv,154.19,515973027,883895a1-d299-4da0-b999-8ee5c1ee5a57
1,2019-10-31 14:52:26 UTC,view,9001245,2053013553140465927,kids.toys,orange,9.24,516207684,43e06b30-9a10-4ac5-91dd-ff7ed04aab82
2,2019-10-23 12:09:33 UTC,view,2800436,2053013563835941749,appliances.kitchen.refrigerators,NaN,330.77,514498652,98c1ba90-5b20-4b48-ae64-e0223edc1627
3,2019-10-14 07:01:01 UTC,view,1004751,2053013555631882655,electronics.smartphone,samsung,196.83,528160375,29b1562d-8e2b-4298-ab2e-a186cbeaa7e1
4,2019-10-26 03:02:21 UTC,view,15700013,2053013559733912211,NaN,NaN,405.13,514906252,6bb9aa66-e2bc-43d4-aa23-27824a5144ae

In [5]:
electronics.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2021-02-10 07:32:16 UTC,purchase,1569530,2144415922528452715,electronics.telephone,NaN,37.94,1515915625603579901,0F6nvfSj4C
1,2020-12-11 16:39:19 UTC,view,1622011,2144415928333369601,NaN,NaN,14.76,1515915625561257734,lnM76Sdc2W
2,2021-01-08 06:25:09 UTC,view,787686,2144415927125410016,NaN,perfeo,12.92,1515915625574133874,Z1SD5V1Vt5
3,2020-11-07 17:12:12 UTC,view,655642,2144415923384090754,NaN,interpower,18.41,1515915625536759596,Ajm7C3GI6t
4,2021-02-21 19:17:29 UTC,view,136700,2144415924491387038,computers.components.motherboard,asrock,77.73,1515915625608204509,H5k7RPnYzu

In [6]:
electronics1.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2021-02-03 16:26:00 UTC,view,599596,2144415934608048556,computers.peripherals.printer,NaN,16.24,1515915625600236619,znKNYFrDc1
1,2021-01-23 18:25:47 UTC,view,3605139,2144415935086199225,computers.desktop,chairman,106.78,1515915625596341973,eeSl91PHlR
2,2021-02-25 20:06:59 UTC,view,3648038,2144415921169498184,NaN,cameronsino,21.75,1515915625609617926,QB5zO9uiRk
3,2021-01-07 10:42:55 UTC,view,193898,2144415927452565738,appliances.sewing_machine,singer,219.10,1515915625573824165,yRA1Q6RFLQ
4,2020-11-19 09:49:09 UTC,view,666964,2144415927410622697,appliances.kitchen.microwave,horizont,63.49,1515915625541171454,iDPZxWFWCQ

In [7]:
#Printing the lengths of the dataframes
def len_dfs(df, name):
    print(f'The shape of the dataframe {name} is {df.shape}')

for df, name in zip(dfs,dfs_name):
    len_dfs(df,name)

The shape of the dataframe multi is (42449, 9)
The shape of the dataframe electronics is (4426, 9)
The shape of the dataframe electronics1 is (8851, 9)

In [8]:
#Printing the names of the columns
def column_names(df,name):
    print(f'The names of the columns in the dataframe {name} are: {df.columns.to_list()}')

for df, name in zip(dfs,dfs_name):
    column_names(df,name)

The names of the columns in the dataframe multi are: ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']
The names of the columns in the dataframe electronics are: ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']
The names of the columns in the dataframe electronics1 are: ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']

In [9]:
#Printing the number of null values in each column
def columns_null_value(df, name):
    null_counts=df.isnull().sum()
    cols_with_null_values=null_counts[null_counts>0]
    print(f"{name} has missing values in the following columns:")
    print(cols_with_null_values.to_string())
    print(f'Length of the dataframe {name} is {len(df)}')
    print("-" * 40) 

for df, name in zip(dfs,dfs_name):
    columns_null_value(df,name)

multi has missing values in the following columns:
category_code    13494
brand             6148
Length of the dataframe multi is 42449
----------------------------------------
electronics has missing values in the following columns:
category_code    1187
brand            1030
user_session        1
Length of the dataframe electronics is 4426
----------------------------------------
electronics1 has missing values in the following columns:
category_code    2385
brand            2095
Length of the dataframe electronics1 is 8851
----------------------------------------

In [10]:
#Dropping the rows with null value from the 'user_session' columns
for df in dfs:
    df.dropna(subset=['user_session'],inplace=True)

In [11]:
#Printing the rows with with missing values
def rows_with_missing_values(df, name):
    df_missing=df[df.isnull().any(axis=1)]
    print(df_missing.head())

for df, name in zip(dfs,dfs_name):
    rows_with_missing_values(df,name)

                event_time event_type  product_id          category_id  \
0  2019-10-29 14:10:28 UTC       view    17100068  2053013558349791811
2  2019-10-23 12:09:33 UTC       view     2800436  2053013563835941749
4  2019-10-26 03:02:21 UTC       view    15700013  2053013559733912211
5  2019-10-10 06:33:03 UTC       view    22700084  2053013556168753601
7  2019-10-01 20:28:35 UTC       view    26400293  2053013563651392361

                      category_code    brand   price    user_id  \
0                               NaN       sv  154.19  515973027
2  appliances.kitchen.refrigerators      NaN  330.77  514498652
4                               NaN      NaN  405.13  514906252
5                               NaN    force  239.33  549911411
7                               NaN  lucente  225.49  531864064

                           user_session
0  883895a1-d299-4da0-b999-8ee5c1ee5a57
2  98c1ba90-5b20-4b48-ae64-e0223edc1627
4  6bb9aa66-e2bc-43d4-aa23-27824a5144ae
5  ce08e199-e836-44b9-a2d7-072e3c4532aa
7  266de7d5-035a-47d5-8b07-3d174c53371a
                event_time event_type  product_id          category_id  \
0  2021-02-10 07:32:16 UTC   purchase     1569530  2144415922528452715
1  2020-12-11 16:39:19 UTC       view     1622011  2144415928333369601
2  2021-01-08 06:25:09 UTC       view      787686  2144415927125410016
3  2020-11-07 17:12:12 UTC       view      655642  2144415923384090754
6  2020-10-18 09:15:53 UTC       view     4183872  2144415922427789416

                     category_code       brand   price              user_id  \
0            electronics.telephone         NaN   37.94  1515915625603579901
1                              NaN         NaN   14.76  1515915625561257734
2                              NaN      perfeo   12.92  1515915625574133874
3                              NaN  interpower   18.41  1515915625536759596
6  computers.components.videocards         NaN  349.46  1515915625527421766

  user_session
0   0F6nvfSj4C
1   lnM76Sdc2W
2   Z1SD5V1Vt5
3   Ajm7C3GI6t
6   aCaqygUr8H
                 event_time event_type  product_id          category_id  \
0   2021-02-03 16:26:00 UTC       view      599596  2144415934608048556
2   2021-02-25 20:06:59 UTC       view     3648038  2144415921169498184
5   2020-10-01 16:10:32 UTC       view     1756392  2144415923014991993
9   2021-02-01 19:38:28 UTC       view      876509  2144415921253384266
11  2020-10-05 02:24:49 UTC       view     1694261  2144415935673401802

                     category_code        brand  price              user_id  \
0    computers.peripherals.printer          NaN  16.24  1515915625600236619
2                              NaN  cameronsino  21.75  1515915625609617926
5   auto.accessories.videoregister          NaN  17.46  1515915625493575351
9                              NaN          NaN  10.83  1515915625595501543
11                             NaN     mechanic   7.13  1515915625435936204

   user_session
0    znKNYFrDc1
2    QB5zO9uiRk
5    UrxdctTy2R
9    YVXJlpXFVK
11   c2wzftWf7E

In [12]:
#checking if there are some rows with missing values in 'category_code' or 'brand' have the same 'category_id' as rows without missing values.
def identifying_common_ids(df, name):

    missing_rows = df[df['category_code'].isnull() | df['brand'].isnull()]
    
    non_missing_rows = df.dropna(subset=['category_code', 'brand'])
    
    matching_category_ids = missing_rows['category_id'].isin(non_missing_rows['category_id'])

    if matching_category_ids.any():
        print("Some rows with missing values in 'category_code' or 'brand' have the same 'category_id' as rows without missing values.")
    else:
        print("No rows with missing values in 'category_code' or 'brand' have a matching 'category_id' in rows without missing values.")

    for col in ['category_code', 'brand']:
        df[col] = df.groupby('category_id')[col].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan))
    
    print(len(missing_rows),len(non_missing_rows),len(matching_category_ids),matching_category_ids.value_counts())


    return df
# for df, name in zip(dfs,dfs_name):
#     identifying_common_ids(df,name)
dfs_filled = {name:identifying_common_ids(df, name) for df, name in zip(dfs, dfs_name)}

Some rows with missing values in 'category_code' or 'brand' have the same 'category_id' as rows without missing values.
15914 26535 15914 category_id
False    13632
True      2282
Name: count, dtype: int64
Some rows with missing values in 'category_code' or 'brand' have the same 'category_id' as rows without missing values.
1835 2590 1835 category_id
False    1229
True      606
Name: count, dtype: int64
Some rows with missing values in 'category_code' or 'brand' have the same 'category_id' as rows without missing values.
3656 5195 3656 category_id
False    2434
True     1222
Name: count, dtype: int64

In [13]:
#checking if there are some rows with missing values in 'category_code' or 'brand' have the same 'product_id' as rows without missing values.
def identifying_common_ids_product(df, name):

    missing_rows = df[df['category_code'].isnull() | df['brand'].isnull()]
    
    non_missing_rows = df.dropna(subset=['category_code', 'brand'])
    
    matching_category_ids = missing_rows['product_id'].isin(non_missing_rows['product_id'])
    
    if matching_category_ids.any():
        print("Some rows with missing values in 'category_code' or 'brand' have the same 'product_id' as rows without missing values.")
    else:
        print("No rows with missing values in 'category_code' or 'brand' have a matching 'product_id' in rows without missing values.")

    for col in ['category_code', 'brand']:
        df[col] = df.groupby('category_id')[col].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan))
    
    print(len(matching_category_ids),matching_category_ids.value_counts())


for df, name in zip(dfs,dfs_name):
    identifying_common_ids_product(df,name)

No rows with missing values in 'category_code' or 'brand' have a matching 'product_id' in rows without missing values.
13632 product_id
False    13632
Name: count, dtype: int64
No rows with missing values in 'category_code' or 'brand' have a matching 'product_id' in rows without missing values.
1229 product_id
False    1229
Name: count, dtype: int64
No rows with missing values in 'category_code' or 'brand' have a matching 'product_id' in rows without missing values.
2434 product_id
False    2434
Name: count, dtype: int64

In [14]:
#dropping the null values
for name,df in dfs_filled.items():
    print(f'The number of null values in the columns of the dataframe {name} are:')
    print(df.isnull().sum())
    print('Dropping the null values\n')
    df.dropna(subset=['category_code','brand'],inplace=True)

The number of null values in the columns of the dataframe multi are:
event_time           0
event_type           0
product_id           0
category_id          0
category_code    13494
brand              359
price                0
user_id              0
user_session         0
dtype: int64
Dropping the null values

The number of null values in the columns of the dataframe electronics are:
event_time          0
event_type          0
product_id          0
category_id         0
category_code    1187
brand             139
price               0
user_id             0
user_session        0
dtype: int64
Dropping the null values

The number of null values in the columns of the dataframe electronics1 are:
event_time          0
event_type          0
product_id          0
category_id         0
category_code    2385
brand             182
price               0
user_id             0
user_session        0
dtype: int64
Dropping the null values

In [15]:
#merging the three dataframes into a single one
merged_df=pd.concat([dfs_filled[dfs_name[0]],dfs_filled[dfs_name[1]],dfs_filled[dfs_name[2]]],ignore_index=True)
print(f'The length of the merged dataframe is {len(merged_df)}')

The length of the merged dataframe is 38430

In [16]:
#checking if the merged dataframe has any null values
merged_df.isnull().any()

event_time       False
event_type       False
product_id       False
category_id      False
category_code    False
brand            False
price            False
user_id          False
user_session     False
dtype: bool

In [17]:
#checking for duplicated values in the dataframe
print(merged_df.duplicated().value_counts())

False    38408
True        22
Name: count, dtype: int64

In [18]:
#dropping the duplicate values
merged_df=merged_df.drop_duplicates(keep='first')

In [19]:
merged_df.to_csv('merged_df.csv',index=False)

## Detecting outliers using IQR

In [20]:
#finding the  numerical columns
num_cols=merged_df.select_dtypes(include=['number']).columns
print('Numerical Columns:', num_cols)

Numerical Columns: Index(['product_id', 'category_id', 'price', 'user_id'], dtype='object')

In [21]:
# #checking which of the columns have a normal distribution and which ones have a skewed distribution
# for col in num_cols:
#     plt.figure(figsize=(6,4))
#     sns.histplot(merged_df[col],kde=True, bins=10)
#     plt.title(f'Distribution of {col}')
#     plt.show()

In [22]:
#checking the distribution type in the columns using statistical testing
for col in num_cols:
    stat, p= stats.shapiro(merged_df[col].dropna())
    print(f'{col}:p-value={p}')
    if p>0.05:
        print(f'{col} is normally distributed')
    else:
        print(f'{col} is not normally distributed')

product_id:p-value=1.479821547903006e-129
product_id is not normally distributed
category_id:p-value=1.8339933100791383e-129
category_id is not normally distributed
price:p-value=8.405517317160754e-118
price is not normally distributed
user_id:p-value=4.4043356972491165e-132
user_id is not normally distributed

In [23]:
#detecting outliers
def detect_outliers(df,col):
    q1=df[col].quantile(0.25)
    q3=df[col].quantile(0.75)
    iqr=q3-q1
    lower_bound=q1-1.5*iqr
    upper_bound=q3+1.5*iqr
    return df[(df[col]<lower_bound) | (df[col]>upper_bound)][col]

outliers=detect_outliers(merged_df,'price')

print(outliers)

9         833.74
11        952.41
13       1619.09
18       1404.08
26       1055.34
          ...
37840    1043.63
37951     848.89
38005     897.79
38069     839.75
38210    1014.87
Name: price, Length: 3175, dtype: float64

In [24]:
#handling the outliers using the MinMaxScaler method
scaler=MinMaxScaler(feature_range=(0,10))
merged_df['price_scaled']=scaler.fit_transform(merged_df[['price']])